In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel\parentpoller.py:116: UserWarning: Parent poll failed.  If the frontend dies,
                the kernel may be left running.  Please let us know
                about your system (bitness, Python, etc.) at
                ipython-dev@scipy.org
  ipython-dev@scipy.org""")

In [2]:
df = pd.read_csv('train.csv')

In [3]:
df.shape

(9800, 18)

In [4]:
df.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales
0,1,CA-2017-152156,08/11/2017,11/11/2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600
1,2,CA-2017-152156,08/11/2017,11/11/2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400
2,3,CA-2017-138688,12/06/2017,16/06/2017,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,90036.0,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200
3,4,US-2016-108966,11/10/2016,18/10/2016,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775
4,5,US-2016-108966,11/10/2016,18/10/2016,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680

In [5]:
df.columns

Index(['Row ID', 'Order ID', 'Order Date', 'Ship Date', 'Ship Mode',
       'Customer ID', 'Customer Name', 'Segment', 'Country', 'City', 'State',
       'Postal Code', 'Region', 'Product ID', 'Category', 'Sub-Category',
       'Product Name', 'Sales'],
      dtype='object')

In [6]:
df.drop(['Row ID','Order ID'],axis=1,inplace=True)

In [7]:
df.head()

,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales
0,08/11/2017,11/11/2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600
1,08/11/2017,11/11/2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400
2,12/06/2017,16/06/2017,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,90036.0,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200
3,11/10/2016,18/10/2016,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775
4,11/10/2016,18/10/2016,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680

In [8]:
df['Order Day'] = df['Order Date'].str.split('/').str[0]
df['Order Month'] = df['Order Date'].str.split('/').str[1]
df['Order Year'] = df['Order Date'].str.split('/').str[2]

In [9]:
df['Order Day'] = df['Order Day'].astype(int)
df['Order Month'] = df['Order Month'].astype(int)
df['Order Year'] = df['Order Year'].astype(int)

In [10]:
df.head()

,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Order Day,Order Month,Order Year
0,08/11/2017,11/11/2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,8,11,2017
1,08/11/2017,11/11/2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,8,11,2017
2,12/06/2017,16/06/2017,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,90036.0,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,12,6,2017
3,11/10/2016,18/10/2016,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,11,10,2016
4,11/10/2016,18/10/2016,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,11,10,2016

In [11]:
df['Ship Day'] = df['Ship Date'].str.split('/').str[0]
df['Ship Month'] = df['Ship Date'].str.split('/').str[1]
df['Ship Year'] = df['Ship Date'].str.split('/').str[2]

In [12]:
df['Ship Day'] = df['Ship Day'].astype(int)
df['Ship Month'] = df['Ship Month'].astype(int)
df['Ship Year'] = df['Ship Year'].astype(int)

In [13]:
df.head()

,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,...,Category,Sub-Category,Product Name,Sales,Order Day,Order Month,Order Year,Ship Day,Ship Month,Ship Year
0,08/11/2017,11/11/2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,...,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,8,11,2017,11,11,2017
1,08/11/2017,11/11/2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,...,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,8,11,2017,11,11,2017
2,12/06/2017,16/06/2017,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,90036.0,...,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,12,6,2017,16,6,2017
3,11/10/2016,18/10/2016,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311.0,...,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,11,10,2016,18,10,2016
4,11/10/2016,18/10/2016,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311.0,...,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,11,10,2016,18,10,2016

In [14]:
df.drop(['Order Date','Ship Date'],axis=1 ,inplace=True)

In [15]:
df.head()

,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Order Day,Order Month,Order Year,Ship Day,Ship Month,Ship Year
0,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,8,11,2017,11,11,2017
1,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,8,11,2017,11,11,2017
2,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,90036.0,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,12,6,2017,16,6,2017
3,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,11,10,2016,18,10,2016
4,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,11,10,2016,18,10,2016

In [16]:
df['Ship Mode'].unique()

array(['Second Class', 'Standard Class', 'First Class', 'Same Day'],
      dtype=object)

In [17]:
df['Ship Mode'] = df['Ship Mode'].map({'Second Class':3, 'Standard Class':2, 'First Class':1, 'Same Day':0})

In [18]:
df['Ship Mode'] = df['Ship Mode'].astype(int)

In [19]:
df.head()

,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Order Day,Order Month,Order Year,Ship Day,Ship Month,Ship Year
0,3,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,8,11,2017,11,11,2017
1,3,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,8,11,2017,11,11,2017
2,3,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,90036.0,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,12,6,2017,16,6,2017
3,2,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,11,10,2016,18,10,2016
4,2,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,11,10,2016,18,10,2016

In [20]:
df.isnull().sum()

Ship Mode         0
Customer ID       0
Customer Name     0
Segment           0
Country           0
City              0
State             0
Postal Code      11
Region            0
Product ID        0
Category          0
Sub-Category      0
Product Name      0
Sales             0
Order Day         0
Order Month       0
Order Year        0
Ship Day          0
Ship Month        0
Ship Year         0
dtype: int64

In [21]:
df['Postal Code'].describe()

count     9789.000000
mean     55273.322403
std      32041.223413
min       1040.000000
25%      23223.000000
50%      58103.000000
75%      90008.000000
max      99301.000000
Name: Postal Code, dtype: float64

In [22]:
df['Postal Code'] = df['Postal Code'].fillna(df['Postal Code'].mean())

In [23]:
df.isnull().sum()

Ship Mode        0
Customer ID      0
Customer Name    0
Segment          0
Country          0
City             0
State            0
Postal Code      0
Region           0
Product ID       0
Category         0
Sub-Category     0
Product Name     0
Sales            0
Order Day        0
Order Month      0
Order Year       0
Ship Day         0
Ship Month       0
Ship Year        0
dtype: int64

In [24]:
df.head()

,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Order Day,Order Month,Order Year,Ship Day,Ship Month,Ship Year
0,3,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,8,11,2017,11,11,2017
1,3,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,8,11,2017,11,11,2017
2,3,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,90036.0,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,12,6,2017,16,6,2017
3,2,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,11,10,2016,18,10,2016
4,2,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,11,10,2016,18,10,2016

In [25]:
df.drop(['Customer ID','Customer Name'],axis=1, inplace = True)

In [26]:
df.head()

,Ship Mode,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Order Day,Order Month,Order Year,Ship Day,Ship Month,Ship Year
0,3,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,8,11,2017,11,11,2017
1,3,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,8,11,2017,11,11,2017
2,3,Corporate,United States,Los Angeles,California,90036.0,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,12,6,2017,16,6,2017
3,2,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,11,10,2016,18,10,2016
4,2,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,11,10,2016,18,10,2016

In [27]:
df['Segment'].unique()

array(['Consumer', 'Corporate', 'Home Office'], dtype=object)

In [28]:
df['Segment'] = df['Segment'].map({'Consumer':0, 'Corporate':1, 'Home Office':2})

In [29]:
df['Segment'] = df['Segment'].astype(int)

In [30]:
df.head()

,Ship Mode,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Order Day,Order Month,Order Year,Ship Day,Ship Month,Ship Year
0,3,0,United States,Henderson,Kentucky,42420.0,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,8,11,2017,11,11,2017
1,3,0,United States,Henderson,Kentucky,42420.0,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,8,11,2017,11,11,2017
2,3,1,United States,Los Angeles,California,90036.0,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,12,6,2017,16,6,2017
3,2,0,United States,Fort Lauderdale,Florida,33311.0,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,11,10,2016,18,10,2016
4,2,0,United States,Fort Lauderdale,Florida,33311.0,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,11,10,2016,18,10,2016

In [31]:
df['Country'].unique()

array(['United States'], dtype=object)

In [32]:
df['Country'] = 1

In [33]:
df['Country'] = df['Country'].astype(int)

In [34]:
df.head()

,Ship Mode,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Order Day,Order Month,Order Year,Ship Day,Ship Month,Ship Year
0,3,0,1,Henderson,Kentucky,42420.0,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,8,11,2017,11,11,2017
1,3,0,1,Henderson,Kentucky,42420.0,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,8,11,2017,11,11,2017
2,3,1,1,Los Angeles,California,90036.0,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,12,6,2017,16,6,2017
3,2,0,1,Fort Lauderdale,Florida,33311.0,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,11,10,2016,18,10,2016
4,2,0,1,Fort Lauderdale,Florida,33311.0,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,11,10,2016,18,10,2016

In [35]:
df.drop(['City','State','Product ID','Sub-Category','Product Name'], axis=1, inplace=True)

In [36]:
df.head()

,Ship Mode,Segment,Country,Postal Code,Region,Category,Sales,Order Day,Order Month,Order Year,Ship Day,Ship Month,Ship Year
0,3,0,1,42420.0,South,Furniture,261.9600,8,11,2017,11,11,2017
1,3,0,1,42420.0,South,Furniture,731.9400,8,11,2017,11,11,2017
2,3,1,1,90036.0,West,Office Supplies,14.6200,12,6,2017,16,6,2017
3,2,0,1,33311.0,South,Furniture,957.5775,11,10,2016,18,10,2016
4,2,0,1,33311.0,South,Office Supplies,22.3680,11,10,2016,18,10,2016

In [37]:
df['Region'].unique()

array(['South', 'West', 'Central', 'East'], dtype=object)

In [38]:
df['Region'] = df['Region'].map({'South':1,'West':2,'Central':3,'East':4})

In [39]:
df['Region'] = df['Region'].astype(int)

In [40]:
df['Category'].unique()

array(['Furniture', 'Office Supplies', 'Technology'], dtype=object)

In [41]:
df['Category'] = df['Category'].map({'Furniture':1,'Office Supplies':2,'Technology':3})

In [42]:
df['Category'] = df['Category'].astype(int)

In [43]:
df.head()

,Ship Mode,Segment,Country,Postal Code,Region,Category,Sales,Order Day,Order Month,Order Year,Ship Day,Ship Month,Ship Year
0,3,0,1,42420.0,1,1,261.9600,8,11,2017,11,11,2017
1,3,0,1,42420.0,1,1,731.9400,8,11,2017,11,11,2017
2,3,1,1,90036.0,2,2,14.6200,12,6,2017,16,6,2017
3,2,0,1,33311.0,1,1,957.5775,11,10,2016,18,10,2016
4,2,0,1,33311.0,1,2,22.3680,11,10,2016,18,10,2016

In [44]:
df.dtypes

Ship Mode        int32
Segment          int32
Country          int32
Postal Code    float64
Region           int32
Category         int32
Sales          float64
Order Day        int32
Order Month      int32
Order Year       int32
Ship Day         int32
Ship Month       int32
Ship Year        int32
dtype: object

In [45]:
df.corr()

,Ship Mode,Segment,Country,Postal Code,Region,Category,Sales,Order Day,Order Month,Order Year,Ship Day,Ship Month,Ship Year
Ship Mode,1.000000,-0.008404,NaN,-0.004952,-0.011749,-0.002217,0.002101,0.020068,-0.010100,-0.026663,0.031236,-0.015423,-0.023664
Segment,-0.008404,1.000000,NaN,-0.009517,0.004708,0.009412,0.010924,0.003919,-0.022306,0.040080,0.002013,-0.016927,0.038792
Country,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Postal Code,-0.004952,-0.009517,NaN,1.000000,-0.457813,-0.000795,-0.024002,0.017929,0.021646,0.006415,0.029721,0.017481,0.007030
Region,-0.011749,0.004708,NaN,-0.457813,1.000000,0.002441,0.000070,-0.011606,0.017303,0.012116,-0.019095,0.014876,0.012767
Category,-0.002217,0.009412,NaN,-0.000795,0.002441,1.000000,0.041375,-0.014295,-0.012946,0.004313,-0.003822,-0.011930,0.003875
Sales,0.002101,0.010924,NaN,-0.024002,0.000070,0.041375,1.000000,0.003301,-0.000134,-0.010624,0.013511,0.003942,-0.011844
Order Day,0.020068,0.003919,NaN,0.017929,-0.011606,-0.014295,0.003301,1.000000,-0.031614,-0.019780,0.393263,-0.062213,0.000801
Order Month,-0.010100,-0.022306,NaN,0.021646,0.017303,-0.012946,-0.000134,-0.031614,1.000000,-0.018278,-0.010931,0.911756,-0.001038
Order Year,-0.026663,0.040080,NaN,0.006415,0.012116,0.004313,-0.010624,-0.019780,-0.018278,1.000000,-0.012731,-0.005323,0.994092
Ship Day,0.031236,0.002013,NaN,0.029721,-0.019095,-0.003822,0.013511,0.393263,-0.010931,-0.012731,1.000000,0.019973,-0.033120
Ship Month,-0.015423,-0.016927,NaN,0.017481,0.014876,-0.011930,0.003942,-0.062213,0.911756,-0.005323,0.019973,1.000000,-0.032606
Ship Year,-0.023664,0.038792,NaN,0.007030,0.012767,0.003875,-0.011844,0.000801,-0.001038,0.994092,-0.033120,-0.032606,1.000000